@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --dark-color: #181717;
    --light-color: #fbf9f9;
}

* {
    font-family: "Source Sans 3", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.container {
    max-width: 375px;
    margin: 0 auto;
    border: 2px solid var(--dark-color);
    height: 100vh;
    overflow: auto;
    position: relative;
}

.container::-webkit-scrollbar {
    display: none;
}

.container header {
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--dark-color);
}

.logo {
    width: 124px;
}

.btn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.header-btns .btn {
    font-size: 24px;
    margin: 8px;
}

.stories {
    width: 100%;
    display: flex;
    gap: 5px;
    text-align: center;
    border-bottom: 2px solid var(--dark-color);
    overflow: auto;
}

.stories::-webkit-scrollbar {
    display:none;
}

.story-container {
    min-width: 80px;
    width: 86px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.story-img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 8px;
    border: solid 4px transparent;
    background-image: linear-gradient(45deg, #f2ff00, #fd911d, #e1306c, #c13584);
    background-origin: border-box;
}

.add-story {
    background-image: none;
}

.post {
    border-bottom: 3px solid var(--dark-color);
}


.user-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-user {
    padding: 12px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.username {
    font-weight: 700;
}

.post-options {
    font-size: 18px;
    margin: auto 0 auto auto;
}

.post-img {
    width: 100%;
}

.actions {
    margin-top: 12px;
    height: 32px;
}

.actions .btn {
    font-size: 24px;
    height: 24px;
    margin: 8px;
}

.like-comments {
    padding: 10px;
}

.likes {
    font-weight: 700;
}

.comment-user {
    font-weight: 700;
}

.nav-container {
    position: sticky;
    bottom: 0;
    right: 0;
    background-color: white;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    font-size: 24px;
}

.nav-item a {
    display: inline-block;
    padding: 12px;
    cursor: pointer;
}